//===============CSS Cua About Us===================//
@import './cssUse/variable_.scss';
@import './Cart_.scss';
.picture_image{
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
//============CSS Who We Are======================//
.whowe_are{
    padding: 0px 10px;
    h2{
        @include font-Unbounded;
        font-size: 48px;
        text-transform: uppercase;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    p{
        @include Urbanist-Medium;
        font-size: 32px;
        color: #000000;
        font-weight: bold;
       padding-bottom: 132px;
    }
    .picture_grid{
        .row{
            padding: unset !important;
            margin: unset !important;
            .col{
                padding: unset !important;
                margin: unset !important;
            }
            img{
                width: 100%;
                object-fit: cover;
                background-size: cover;
                background-repeat: no-repeat;
    
            }
            p{
                text-align: left;
                @include Urbanist-Medium;
                padding: 32px;
                color: #000000;
                font-size: 25px;
                font-weight: 300;
            }
        }
    }
}
//============CSS Cua Dewy Heaven======================//
.logo_icon{
    padding-top: 52px;
    .logo_slider{
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        background-color: $color-green6C;
        .logos_slide{
                display: flex;
                animation: 45s slide infinite linear;
                p{
                    font-size: 32px;
                    @include font-Unbounded;
                    font-weight: bold;
                    color: $color-green;
                    margin: 0px 50px ;
                }
            }
        .logos_slide1 {
            display: inline-block;
            animation: 45s slide infinite linear;
            img {
                height: 22px;
                margin: 0 40px;
            }
        }
    }
    .logo_picture{
        .picture_image{
            background-image: url('../../image/Image_About/Rectangle\ 199.png');
            background-size: cover;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            height: 264px;
            .text_picture{
                padding: 72px 5px;
                p{
                    font-size: 30px;
                    font-weight: 500;
                    font-style: italic;
                    text-align: center;
                }
            }
            #pc1{
                width: 269px;
                height: 269px;
                left: 0px;
                position: absolute;
            }
            #pc2{
                width: 269px;
                height: 269px;
                right: 0;
                position: absolute;
            }
        }
    }
}
//============CSS Cua Meet Out Founder======================//
.meet_out{
    h2{
        @include font-Unbounded;
        font-size: 48px;
        font-weight: bold;
        padding: 56px 5px 42px 5px;
    }
    img{
        width: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
    }
    .image_founder{
        h3{
            font-weight: bold;
            font-size: 32px;
            padding: 43px 5px;
        }
        p{
            font-size: 24px;
            letter-spacing: 8px;
            color: #5C5C5C;
            text-transform: uppercase;
            padding-top: 63px;
        }
        #pd{
            letter-spacing: unset;
        }
    }
}
//============CSS Cua Our Best Seller======================//
.best_seller{
    padding: 0px 15px;
    h2{
        font-size: 40px;
        @include font-Unbounded;
        font-weight: bold;
        padding-top: 119px;
        padding-bottom: 24px;
    }
    h3{
        font-size: 40px;
        @include font-Unbounded;
        b{
            font-size: 40px;
            @include font-Unbounded;
            font-weight: bold;
            margin: 0px 31px;
        }
    }
    .row{
        margin: unset;
        padding: unset;
        .item{
            border-top: unset;
            img{
                width: 100%;
            }
            h4{
                font-size: 18px;
                font-weight: bold !important;
                @include font-Unbounded;
                padding-top: 38px;
                padding-bottom: 12px;
            }
            p{
                font-size: 16px;
                color: #000000;
            }
            .start{
                padding-top: 13px;
                padding-bottom: 20px;
                .rate:not(:checked) > label{
                    font-size: 24px;
                }
                .text_review{
                    border-bottom: 1px solid #000;
                    p{
                        font-size: 10px;
                        color: #000000;
                    }
                }
            }
        }
        .button_add{
            button{
                padding: 15px 10px;
            }
        }
    }
}
.new_drop{
    .button_new{
        position: absolute;
        top: 27px;
        left: 13px;
        background: $color-green;
        p{
            font-size: 14px;
            color:#FFFFFF !important;
            font-weight: 300;
            padding: 5px 38px 7px 19px;
        }
    }
}
//============CSS Keep it simple======================//
.keep_simple{
    padding-top: 103px;
    padding-bottom: 71px;
    h3{
        font-size: 40px;
        color: #1E1E1E;
        @include font-Unbounded;
    }
    .item1{
        padding-top: 38px;
        margin: 0px 10px;
        img{
            object-fit: cover;
        }
        p{
            font-size: 20px;
            font-weight: bold;
            padding-top: 28px;
        }
    }
}
//============CSS Contact Explore More======================//
.contact_explore{
    h3{
        @include font-Unbounded;
        font-size: 36px;
    }
    p{
        font-size: 24px;
        color: #000000;
    }
    .contest_explore{
            padding: 112px 5px 0px 5px;
    }
}


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}