@import './cssUse/variable_.scss';
@import './cssUse/button_.scss';
//Shopping Cart
.shopping_cart{
    padding: 0px 5px;
        .text-center{
            h2{
                @include font-h2;
                @include font-Unbounded;
                color: $color-green;
                text-transform: uppercase;
            }
            p{
                font-weight: bold;
                @include Urbanist-Medium;
                padding: 0px 5px;
                font-size: 20px;
            }
            span{
                font-size: 20px;
                color: $color-green;
            }
        }
    .list_card{
        margin: 20px 0px;
        .center_flex{
            @include boder_bold;
            max-width: 1000px;
        }
        .list_item{
            padding: 60px;
            .item_image{
                margin-right: 30px;
            }
            .item_button{
                .price_money{
                    p{
                        @include font-h4;
                        @include font-Unbounded;
                        font-weight: 500;
                        font-size: 24px;
                    }
                }
                .heart_right{
                    padding-top: 70px;
                    text-align: center;
                    i{
                        font-size: 31px;
                    }
                }
            }
            .item_button1{
                padding: 0px 5px;
                ul li a{
                    color: $color-green;
                    font-size: 12px;
                    text-decoration: underline;
                    margin: 0px 10px;
                }
                p{
                    font-size: 16px;
                    color: $color-green;
                    font-weight: bold;
                    @include font-Unbounded;
                }
            }
            .item_text{
                .text_h3{
                    color: $color-green;
                    h3{
                        @include font-Unbounded;
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                    p{
                        @include Urbanist-Medium;
                        font-weight: 200;
                    }
                }
            
            }
            .cart_total{
                border-top: 2px solid $color-green;
                padding-top: 40px;
                h2{
                    @include font-h4;
                    @include font-Unbounded;
                    color: $color-green;
                    text-transform: uppercase;
                }
                p{
                    margin-right: 40px;
                    font-size: 24px;
                    font-weight: bold;
                    color: $color-green;
                }
            }
        }
    }
}
.item{
    padding: 50px 0px;
    border-top: 1px solid #000;
    .text_bottom{
        position: absolute;
        bottom:0px;
        left: 15px;
        justify-content: right;
        p{
            font-size: 20px;
            margin-right: 25px;
            text-decoration:underline;
            line-height: 2px;
        }
    }
}

//Slider Product
.cart_slider{
    padding: 40px 5px 0px 5px;
    h3{
        @include font-h3;
        @include font-Unbounded;
        color: $color-green;
    }
    .row{
        margin: unset;
        .item{
            border-top: unset;
            h4{
                @include font-Unbounded; 
                font-size: 18px;
                font-weight: bold;
                color: #000;
                padding: 10px 0px;
                margin: unset;
            }
            .start{
                .text_review{
                    p{
                        text-decoration: underline;
                        color: #000;
                        font-size: 10px;
                    }
                }
            }
            .text_slider{
                padding-top: 30px;
                p{
                    font-size: 18px;
                }
            }
        }
    }
}
.cart_slider1{
    padding: 40px 5px 0px 5px;
    h3{
        @include font-h3;
        @include font-Unbounded;
        color: $color-green;
    }
    .row{
        margin: unset;
        .item{
            border-top: unset;
            h4{
                @include font-Unbounded; 
                font-size: 18px;
                font-weight: bold;
                color: #000;
                padding: 10px 0px;
                margin: unset;
            }
            .start{
                .text_review{
                    p{
                        text-decoration: underline;
                        color: #000;
                        font-size: 10px;
                    }
                }
            }
            .text_slider{
                padding-top: 30px;
                p{
                    font-size: 18px;
                }
            }
        }
        img{
            width: 100%;
            object-fit: cover;
        }
        .button_add{
            button{
                width: 100%;
            }
        }
    }
}
